@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", Lucida Fax;
}

*::-webkit-scrollbar {
  display: none !important;
}
